
/*-----Font-family-----*/
html {
  font-family: Helvetica;
}



/*-----Header------*/
h1{
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

/*----Subheadings----*/

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames{
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

/*----Strong element-----*/
strong {
  color: blue;
}
